In [1]:
import pandas as pd
import yfinance as yf

In [46]:
df = yf.download('USDJPY=X',period='60d', interval='15m', multi_level_index=False)

C:\Users\Ido Sabach\AppData\Local\Temp\ipykernel_22804\1031346352.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download('USDJPY=X',period='60d', interval='15m', multi_level_index=False)
[*********************100%***********************]  1 of 1 completed

In [47]:
df

,Close,High,Low,Open,Volume
Datetime,,,,,
2025-09-01 23:00:00+00:00,147.147003,147.177002,147.134995,147.164993,0
2025-09-01 23:15:00+00:00,147.080994,147.156006,147.054993,147.147003,0
2025-09-01 23:30:00+00:00,147.070999,147.091995,147.059998,147.072998,0
2025-09-01 23:45:00+00:00,147.089996,147.102997,147.039993,147.065994,0
2025-09-02 00:00:00+00:00,147.302002,147.307999,147.082001,147.085007,0
...,...,...,...,...,...
2025-11-21 20:45:00+00:00,156.389999,156.455002,156.315002,156.414993,0
2025-11-21 21:00:00+00:00,156.412994,156.457001,156.358002,156.378998,0
2025-11-21 21:15:00+00:00,156.404999,156.438995,156.354004,156.412003,0
2025-11-21 21:30:00+00:00,156.445999,156.503998,156.397003,156.404999,0
2025-11-21 21:45:00+00:00,156.378006,156.466995,156.294998,156.466995,0

In [43]:
df.to_csv('data/USDJPY=X-60D-15M.csv')