In [54]:
import numpy as np
import pandas as pd

In [55]:
df = pd.read_csv('data/results.csv')
df

,Datetime,price,High,Low,Open,Volume,returns,hour,date,sessions,...,BB_lower,ATR_14,position,ATR_50,long_entry,short_entry,trade_state,strategy,creturns,cstrategy
0,2025-08-28 01:00:00+00:00,1.165365,1.165365,1.164958,1.164958,0,0.000466,1,2025-08-28,deadzone,...,1.163651,0.000320,0.0,0.000599,0,0,0,0.0,1.000466,1.000000
1,2025-08-28 01:15:00+00:00,1.164958,1.165365,1.164822,1.165365,0,-0.000349,1,2025-08-28,deadzone,...,1.163769,0.000329,0.0,0.000593,0,0,0,-0.0,1.000117,1.000000
2,2025-08-28 01:30:00+00:00,1.164687,1.165094,1.164551,1.165094,0,-0.000233,1,2025-08-28,deadzone,...,1.163877,0.000339,0.0,0.000586,0,0,0,-0.0,0.999884,1.000000
3,2025-08-28 01:45:00+00:00,1.164822,1.164822,1.164687,1.164687,0,0.000116,1,2025-08-28,deadzone,...,1.163937,0.000339,0.0,0.000579,0,0,0,0.0,1.000000,1.000000
4,2025-08-28 02:00:00+00:00,1.165637,1.165773,1.164822,1.164822,0,0.000699,2,2025-08-28,asia,...,1.163894,0.000378,0.0,0.000571,0,0,0,0.0,1.000699,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5380,2025-11-14 21:15:00+00:00,1.162520,1.162656,1.162385,1.162385,0,0.000116,21,2025-11-14,ny,...,1.161395,0.000270,0.0,0.000587,0,0,0,0.0,0.998024,1.018711
5381,2025-11-14 21:30:00+00:00,1.162385,1.162520,1.162115,1.162520,0,-0.000116,21,2025-11-14,ny,...,1.161392,0.000261,0.0,0.000579,0,0,0,-0.0,0.997908,1.018711
5382,2025-11-14 21:45:00+00:00,1.162520,1.162656,1.162250,1.162385,0,0.000116,21,2025-11-14,ny,...,1.161381,0.000270,0.0,0.000572,0,0,0,0.0,0.998024,1.018711
5383,2025-11-14 22:00:00+00:00,1.162520,1.162520,1.162385,1.162385,0,0.000000,22,2025-11-14,ny,...,1.161445,0.000261,0.0,0.000565,0,0,0,0.0,0.998024,1.018711
5384,2025-11-14 22:15:00+00:00,1.162520,1.162520,1.162520,1.162520,0,0.000000,22,2025-11-14,ny,...,1.161494,0.000251,0.0,0.000558,0,0,0,0.0,0.998024,1.018711

In [56]:
df.columns

Index(['Datetime', 'price', 'High', 'Low', 'Open', 'Volume', 'returns', 'hour',
       'date', 'sessions', 'SMA_20', 'SMA_100', 'SMA_200', 'BB_mid',
       'BB_upper', 'BB_lower', 'ATR_14', 'position', 'ATR_50', 'long_entry',
       'short_entry', 'trade_state', 'strategy', 'creturns', 'cstrategy'],
      dtype='object')

In [57]:
df['long_group'] = (df['long_entry'] == 1).cumsum()
df['short_group'] = (df['short_entry'] == 1).cumsum()

In [58]:
df[['long_group','short_group']]

      long_group  short_group
0              0            0
1              0            0
2              0            0
3              0            0
4              0            0
...          ...          ...
5380          20           19
5381          20           19
5382          20           19
5383          20           19
5384          20           19

[5385 rows x 2 columns]

In [59]:
df['trade_id'] = df['long_group'] + df['short_group']
df['trade_type'] = np.where(df['long_entry'] == 1, 'Long', np.where(df['short_entry'] == 1, 'Short', None))

In [60]:
df[['long_group','short_group','trade_id','trade_type']]

      long_group  short_group  trade_id trade_type
0              0            0         0       None
1              0            0         0       None
2              0            0         0       None
3              0            0         0       None
4              0            0         0       None
...          ...          ...       ...        ...
5380          20           19        39       None
5381          20           19        39       None
5382          20           19        39       None
5383          20           19        39       None
5384          20           19        39       None

[5385 rows x 4 columns]

In [61]:
df['trade_type'].value_counts()

trade_type
Long     20
Short    19
Name: count, dtype: int64

In [62]:
trades_df = df[df['trade_id'] > 0].copy()

In [63]:
trades_df

,Datetime,price,High,Low,Open,Volume,returns,hour,date,sessions,...,long_entry,short_entry,trade_state,strategy,creturns,cstrategy,long_group,short_group,trade_id,trade_type
99,2025-08-29 01:45:00+00:00,1.166045,1.166725,1.166045,1.166725,0,-0.000700,1,2025-08-29,deadzone,...,1,0,1,-0.000000,1.001050,1.000000,1,0,1,Long
100,2025-08-29 02:00:00+00:00,1.166589,1.166589,1.166317,1.166317,0,0.000466,2,2025-08-29,asia,...,0,0,1,0.000466,1.001517,1.000467,1,0,1,None
101,2025-08-29 02:15:00+00:00,1.166453,1.166589,1.166317,1.166589,0,-0.000117,2,2025-08-29,asia,...,0,0,1,-0.000117,1.001400,1.000350,1,0,1,None
102,2025-08-29 02:30:00+00:00,1.166589,1.166589,1.166317,1.166453,0,0.000117,2,2025-08-29,asia,...,0,0,1,0.000117,1.001517,1.000467,1,0,1,None
103,2025-08-29 02:45:00+00:00,1.166453,1.166861,1.166453,1.166589,0,-0.000117,2,2025-08-29,asia,...,0,0,1,-0.000117,1.001400,1.000350,1,0,1,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5380,2025-11-14 21:15:00+00:00,1.162520,1.162656,1.162385,1.162385,0,0.000116,21,2025-11-14,ny,...,0,0,0,0.000000,0.998024,1.018711,20,19,39,None
5381,2025-11-14 21:30:00+00:00,1.162385,1.162520,1.162115,1.162520,0,-0.000116,21,2025-11-14,ny,...,0,0,0,-0.000000,0.997908,1.018711,20,19,39,None
5382,2025-11-14 21:45:00+00:00,1.162520,1.162656,1.162250,1.162385,0,0.000116,21,2025-11-14,ny,...,0,0,0,0.000000,0.998024,1.018711,20,19,39,None
5383,2025-11-14 22:00:00+00:00,1.162520,1.162520,1.162385,1.162385,0,0.000000,22,2025-11-14,ny,...,0,0,0,0.000000,0.998024,1.018711,20,19,39,None
5384,2025-11-14 22:15:00+00:00,1.162520,1.162520,1.162520,1.162520,0,0.000000,22,2025-11-14,ny,...,0,0,0,0.000000,0.998024,1.018711,20,19,39,None

In [64]:
df['trade_id'].value_counts()

trade_id
9     449
13    381
6     376
28    367
15    266
34    265
30    248
35    209
19    193
11    180
27    153
1     133
14    121
21    117
24    116
16    111
31    110
17    107
25    103
8     102
0      99
10     98
12     96
36     93
22     91
37     90
20     87
23     77
33     76
4      66
18     64
39     59
32     58
3      56
2      46
26     35
38     35
29     29
7      17
5       6
Name: count, dtype: int64

In [65]:
grouped_trades = trades_df.groupby('trade_id')
grouped_trades

In [66]:
grouped_trades.head()

,Datetime,price,High,Low,Open,Volume,returns,hour,date,sessions,...,long_entry,short_entry,trade_state,strategy,creturns,cstrategy,long_group,short_group,trade_id,trade_type
99,2025-08-29 01:45:00+00:00,1.166045,1.166725,1.166045,1.166725,0,-0.000700,1,2025-08-29,deadzone,...,1,0,1,-0.000000,1.001050,1.000000,1,0,1,Long
100,2025-08-29 02:00:00+00:00,1.166589,1.166589,1.166317,1.166317,0,0.000466,2,2025-08-29,asia,...,0,0,1,0.000466,1.001517,1.000467,1,0,1,None
101,2025-08-29 02:15:00+00:00,1.166453,1.166589,1.166317,1.166589,0,-0.000117,2,2025-08-29,asia,...,0,0,1,-0.000117,1.001400,1.000350,1,0,1,None
102,2025-08-29 02:30:00+00:00,1.166589,1.166589,1.166317,1.166453,0,0.000117,2,2025-08-29,asia,...,0,0,1,0.000117,1.001517,1.000467,1,0,1,None
103,2025-08-29 02:45:00+00:00,1.166453,1.166861,1.166453,1.166589,0,-0.000117,2,2025-08-29,asia,...,0,0,1,-0.000117,1.001400,1.000350,1,0,1,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5326,2025-11-14 07:45:00+00:00,1.163738,1.164551,1.163738,1.164415,0,-0.000582,7,2025-11-14,asia,...,1,0,1,-0.000000,0.999069,1.018118,20,19,39,Long
5327,2025-11-14 08:00:00+00:00,1.163061,1.163738,1.163061,1.163603,0,-0.000582,8,2025-11-14,asia,...,0,0,1,-0.000582,0.998488,1.017526,20,19,39,None
5328,2025-11-14 08:15:00+00:00,1.162926,1.163061,1.162385,1.162791,0,-0.000116,8,2025-11-14,asia,...,0,0,1,-0.000116,0.998372,1.017407,20,19,39,None
5329,2025-11-14 08:30:00+00:00,1.163873,1.163873,1.162926,1.162926,0,0.000814,8,2025-11-14,asia,...,0,0,1,0.000814,0.999185,1.018236,20,19,39,None
5330,2025-11-14 08:45:00+00:00,1.163467,1.163738,1.163332,1.163738,0,-0.000349,8,2025-11-14,asia,...,0,0,1,-0.000349,0.998837,1.017881,20,19,39,None

In [67]:
# יצירת טבלת סיכום עסקאות
trades_summary_df = grouped_trades.agg(
    # 1. מדדי זיהוי
    trade_type=('trade_type', 'first'),
    
    # 2. מדדי זמן
    entry_time=('Datetime', 'first'),
    exit_time=('Datetime', 'last'),
    
    # 3. מדדי מחיר
    entry_price=('price', 'first'),
    exit_price=('price', 'last')
)

# מעלים את מדד ה-trade_id לעמודה רגילה (Reset the index)
trades_summary_df = trades_summary_df.reset_index()

In [68]:
# חישוב P&L באחוזים (שימוש ב np.where כדי לטפל ב-Long וב-Short)
trades_summary_df['pnl_percent'] = np.where(
    trades_summary_df['trade_type'] == 'Long',
    (trades_summary_df['exit_price'] - trades_summary_df['entry_price']) / trades_summary_df['entry_price'] * 100,
    (trades_summary_df['entry_price'] - trades_summary_df['exit_price']) / trades_summary_df['entry_price'] * 100
)

# עמודה בוליאנית פשוטה כדי לזהות זכייה
trades_summary_df['winning_trade'] = trades_summary_df['pnl_percent'] > 0

In [69]:
# הגדר את גודל הפוזיציה (התאם את זה לנתונים שלך)
# אם זה קבוע, הגדר פה, לדוגמה:
POSITION_SIZE = 10  # נניח שקנית/מכרת 10 יחידות בכל עסקה

# חישוב P&L כספי
trades_summary_df['pnl_usd'] = np.where(
    trades_summary_df['trade_type'] == 'Long',
    (trades_summary_df['exit_price'] - trades_summary_df['entry_price']) * POSITION_SIZE,
    (trades_summary_df['entry_price'] - trades_summary_df['exit_price']) * POSITION_SIZE
)

In [70]:
# 1. המרת עמודות הזמן לפורמט Datetime (חובה!)
trades_summary_df['entry_time'] = pd.to_datetime(trades_summary_df['entry_time'])
trades_summary_df['exit_time'] = pd.to_datetime(trades_summary_df['exit_time'])

# 2. חישוב משך העסקה (Duration) - הקוד המקורי שלך:
trades_summary_df['duration'] = trades_summary_df['exit_time'] - trades_summary_df['entry_time']

# 3. הוספת עמודת משך בדקות (להצגה נוחה)
trades_summary_df['duration_mins'] = trades_summary_df['duration'].dt.total_seconds() / 60

In [71]:
print(trades_summary_df)
trades_summary_df.to_csv('data/summery.csv')

    trade_id trade_type                entry_time                 exit_time  \
0          1       Long 2025-08-29 01:45:00+00:00 2025-09-01 12:15:00+00:00
1          2       Long 2025-09-01 12:30:00+00:00 2025-09-01 23:45:00+00:00
2          3       Long 2025-09-02 00:00:00+00:00 2025-09-02 13:45:00+00:00
3          4      Short 2025-09-02 14:00:00+00:00 2025-09-03 06:15:00+00:00
4          5      Short 2025-09-03 06:30:00+00:00 2025-09-03 07:45:00+00:00
5          6      Short 2025-09-03 08:00:00+00:00 2025-09-09 07:15:00+00:00
6          7       Long 2025-09-09 07:30:00+00:00 2025-09-09 11:30:00+00:00
7          8       Long 2025-09-09 11:45:00+00:00 2025-09-10 13:00:00+00:00
8          9      Short 2025-09-10 13:15:00+00:00 2025-09-17 06:45:00+00:00
9         10       Long 2025-09-17 07:00:00+00:00 2025-09-18 07:15:00+00:00
10        11      Short 2025-09-18 07:30:00+00:00 2025-09-22 05:45:00+00:00
11        12      Short 2025-09-22 06:00:00+00:00 2025-09-23 05:45:00+00:00
12        13       Long 2025-09-23 06:00:00+00:00 2025-09-29 06:30:00+00:00
13        14       Long 2025-09-29 06:45:00+00:00 2025-09-30 12:45:00+00:00
14        15       Long 2025-09-30 13:00:00+00:00 2025-10-03 07:15:00+00:00
15        16      Short 2025-10-03 07:30:00+00:00 2025-10-06 12:30:00+00:00
16        17      Short 2025-10-06 12:45:00+00:00 2025-10-07 15:15:00+00:00
17        18      Short 2025-10-07 15:30:00+00:00 2025-10-08 07:15:00+00:00
18        19      Short 2025-10-08 07:30:00+00:00 2025-10-10 07:30:00+00:00
19        20      Short 2025-10-10 07:45:00+00:00 2025-10-13 06:45:00+00:00
20        21       Long 2025-10-13 07:00:00+00:00 2025-10-14 12:45:00+00:00
21        22      Short 2025-10-14 13:00:00+00:00 2025-10-15 11:30:00+00:00
22        23       Long 2025-10-15 11:45:00+00:00 2025-10-16 06:45:00+00:00
23        24       Long 2025-10-16 07:00:00+00:00 2025-10-17 11:45:00+00:00
24        25       Long 2025-10-17 12:00:00+00:00 2025-10-20 15:00:00+00:00
25        26      Short 2025-10-20 15:15:00+00:00 2025-10-20 23:45:00+00:00
26        27      Short 2025-10-21 00:00:00+00:00 2025-10-22 14:00:00+00:00
27        28      Short 2025-10-22 14:15:00+00:00 2025-10-28 12:15:00+00:00
28        29       Long 2025-10-28 12:30:00+00:00 2025-10-28 19:30:00+00:00
29        30       Long 2025-10-28 19:45:00+00:00 2025-10-31 09:30:00+00:00
30        31      Short 2025-10-31 09:45:00+00:00 2025-11-03 15:30:00+00:00
31        32      Short 2025-11-03 15:45:00+00:00 2025-11-04 06:00:00+00:00
32        33      Short 2025-11-04 06:15:00+00:00 2025-11-05 01:00:00+00:00
33        34      Short 2025-11-05 01:15:00+00:00 2025-11-07 19:15:00+00:00
34        35       Long 2025-11-07 19:30:00+00:00 2025-11-12 01:00:00+00:00
35        36       Long 2025-11-12 01:15:00+00:00 2025-11-13 00:15:00+00:00
36        37       Long 2025-11-13 00:30:00+00:00 2025-11-13 22:45:00+00:00
37        38       Long 2025-11-13 23:00:00+00:00 2025-11-14 07:30:00+00:00
38        39       Long 2025-11-14 07:45:00+00:00 2025-11-14 22:15:00+00:00

    entry_price  exit_price  pnl_percent  winning_trade   pnl_usd  \
0      1.166045    1.171783     0.492144           True  0.057386
1      1.171097    1.171783     0.058592           True  0.006862
2      1.170960    1.165365    -0.477800          False -0.055948
3      1.168088    1.163873     0.360806           True  0.042145
4      1.164280    1.163873     0.034925           True  0.004066
5      1.164958    1.176747    -1.011995          False -0.117893
6      1.175917    1.175088    -0.070507          False -0.008291
7      1.174536    1.170823    -0.316116          False -0.037129
8      1.171783    1.185958    -1.209679          False -0.141748
9      1.184694    1.182872    -0.153774          False -0.018218
10     1.183852    1.174122     0.821891           True  0.097300
11     1.174260    1.180220    -0.507492          False -0.059593
12     1.179523    1.172745    -0.574649          False -0.067781
13     1.172333    1.174122     0.152630           True  0.017893
14     1.173020    1.173020     0.000000          False  0.000000
15     1.173434    1.168634     0.409032           True  0.047997
16     1.169180    1.167679     0.128449           True  0.015018
17     1.167951    1.162115     0.499710           True  0.058364
18     1.163061    1.157675     0.463078           True  0.053859
19     1.158212    1.161710    -0.302045          False -0.034983
20     1.160766    1.156069    -0.404623          False -0.046967
21     1.156872    1.163061    -0.535017          False -0.061895
22     1.162385    1.165773     0.291443           True  0.033877
23     1.165365    1.168770     0.292191           True  0.034051
24     1.168224    1.166045    -0.186565          False -0.021795
25     1.166589    1.164687     0.163059           True  0.019022
26     1.165501    1.159824     0.487136           True  0.056776
27     1.160631    1.165501    -0.419584          False -0.048698
28     1.164822    1.166453     0.139982           True  0.016305
29     1.165637    1.157140    -0.728999          False -0.084975
30     1.158078    1.151676     0.552804           True  0.064019
31     1.152871    1.151941     0.080633           True  0.009296
32     1.152871    1.148633     0.367564           True  0.042375
33     1.149029    1.157140    -0.705848          False -0.081104
34     1.156470    1.158346     0.162166           True  0.018754
35     1.158078    1.159152     0.092736           True  0.010740
36     1.158614    1.164009     0.465606           True  0.053946
37     1.163061    1.164415     0.116436           True  0.013542
38     1.163738    1.162520    -0.104618          False -0.012175

          duration  duration_mins
0  3 days 10:30:00         4950.0
1  0 days 11:15:00          675.0
2  0 days 13:45:00          825.0
3  0 days 16:15:00          975.0
4  0 days 01:15:00           75.0
5  5 days 23:15:00         8595.0
6  0 days 04:00:00          240.0
7  1 days 01:15:00         1515.0
8  6 days 17:30:00         9690.0
9  1 days 00:15:00         1455.0
10 3 days 22:15:00         5655.0
11 0 days 23:45:00         1425.0
12 6 days 00:30:00         8670.0
13 1 days 06:00:00         1800.0
14 2 days 18:15:00         3975.0
15 3 days 05:00:00         4620.0
16 1 days 02:30:00         1590.0
17 0 days 15:45:00          945.0
18 2 days 00:00:00         2880.0
19 2 days 23:00:00         4260.0
20 1 days 05:45:00         1785.0
21 0 days 22:30:00         1350.0
22 0 days 19:00:00         1140.0
23 1 days 04:45:00         1725.0
24 3 days 03:00:00         4500.0
25 0 days 08:30:00          510.0
26 1 days 14:00:00         2280.0
27 5 days 22:00:00         8520.0
28 0 days 07:00:00          420.0
29 2 days 13:45:00         3705.0
30 3 days 05:45:00         4665.0
31 0 days 14:15:00          855.0
32 0 days 18:45:00         1125.0
33 2 days 18:00:00         3960.0
34 4 days 05:30:00         6090.0
35 0 days 23:00:00         1380.0
36 0 days 22:15:00         1335.0
37 0 days 08:30:00          510.0
38 0 days 14:30:00          870.0

In [73]:
def calculate_hedge_fund_metrics(df, trades_df):
    # --- תיקון: ווידוא שהאינדקס הוא תאריך ---
    df = df.copy() # עובדים על עותק כדי לא להרוס את המקורי
    
    # אם האינדקס הוא לא תאריך, ננסה להגדיר את עמודת Datetime כאינדקס
    if not isinstance(df.index, pd.DatetimeIndex):
        if 'Datetime' in df.columns:
            df['Datetime'] = pd.to_datetime(df['Datetime']) # המרה ליתר ביטחון
            df = df.set_index('Datetime')
        else:
            print("Warning: Could not find 'Datetime' column for index. Sharpe Ratio might be wrong.")

    metrics = {}
    
    # --- 1. מדדי עסקאות (Trade Statistics) ---
    total_trades = len(trades_df)
    winning_trades = trades_df[trades_df['pnl_usd'] > 0]
    losing_trades = trades_df[trades_df['pnl_usd'] <= 0]
    
    win_rate = (len(winning_trades) / total_trades) * 100 if total_trades > 0 else 0
    
    avg_win = winning_trades['pnl_usd'].mean() if not winning_trades.empty else 0
    avg_loss = losing_trades['pnl_usd'].mean() if not losing_trades.empty else 0
    
    # Profit Factor
    gross_profit = winning_trades['pnl_usd'].sum()
    gross_loss = abs(losing_trades['pnl_usd'].sum())
    profit_factor = gross_profit / gross_loss if gross_loss != 0 else np.inf

    # Expectancy
    if total_trades > 0:
        expectancy = (len(winning_trades)/total_trades * avg_win) - (len(losing_trades)/total_trades * abs(avg_loss))
    else:
        expectancy = 0

    # --- 2. מדדי סיכון ותשואה (Risk & Return) ---
    cumulative_returns = df['cstrategy']
    running_max = cumulative_returns.cummax()
    drawdown = (cumulative_returns - running_max) / running_max
    max_drawdown = drawdown.min() * 100 

    total_return = (cumulative_returns.iloc[-1] - 1) * 100

    # Sharpe Ratio (תיקון: כעת האינדקס תקין וה resample יעבוד)
    try:
        daily_returns = df['cstrategy'].resample('D').last().pct_change().dropna()
        risk_free_rate = 0.0 
        
        if daily_returns.std() != 0:
            sharpe_ratio = (daily_returns.mean() - risk_free_rate) / daily_returns.std() * np.sqrt(252)
        else:
            sharpe_ratio = 0
    except Exception as e:
        print(f"Could not calculate Sharpe Ratio: {e}")
        sharpe_ratio = 0

    # --- 3. ארגון התוצאות ---
    metrics = {
        'Total Trades': total_trades,
        'Win Rate (%)': round(win_rate, 2),
        'Profit Factor': round(profit_factor, 2),
        'Avg Win ($)': round(avg_win, 2),
        'Avg Loss ($)': round(avg_loss, 2),
        'Expectancy ($)': round(expectancy, 2),
        'Total Return (%)': round(total_return, 2),
        'Max Drawdown (%)': round(max_drawdown, 2),
        'Sharpe Ratio': round(sharpe_ratio, 2)
    }
    
    return metrics

In [75]:
# וודא שוב ש-trades_summary_df חושב נכון לפי השלבים הקודמים
metrics = calculate_hedge_fund_metrics(df,trades_summary_df)

print("==== Hedge Fund Performance Report ====")
for k, v in metrics.items():
    print(f"{k:<20}: {v}")

==== Hedge Fund Performance Report ====
Total Trades        : 39
Win Rate (%)        : 56.41
Profit Factor       : 0.86
Avg Win ($)         : 0.04
Avg Loss ($)        : -0.05
Expectancy ($)      : -0.0
Total Return (%)    : 1.87
Max Drawdown (%)    : -0.55
Sharpe Ratio        : 3.6

C:\Users\Ido Sabach\AppData\Local\Temp\ipykernel_19960\3239954410.py:46: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  daily_returns = df['cstrategy'].resample('D').last().pct_change().dropna()