In [1]:
import pandas as pd
import yfinance as yf

In [2]:
df = yf.download('EURUSD=X',period='365d', interval='1H', multi_level_index=False)

C:\Users\Ido Sabach\AppData\Local\Temp\ipykernel_22672\817971987.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download('EURUSD=X',period='365d', interval='1H', multi_level_index=False)
[*********************100%***********************]  1 of 1 completed

In [3]:
df

                        Close      High       Low      Open  Volume
Datetime
2024-07-01 00:00:00  1.073768  1.074229  1.073768  1.073998       0
2024-07-01 01:00:00  1.074807  1.075269  1.073883  1.073883       0
2024-07-01 02:00:00  1.075153  1.076195  1.074691  1.074691       0
2024-07-01 03:00:00  1.075847  1.075847  1.075038  1.075038       0
2024-07-01 04:00:00  1.075616  1.075963  1.075500  1.075732       0
...                       ...       ...       ...       ...     ...
2025-11-21 18:00:00  1.150880  1.151013  1.150616  1.151013       0
2025-11-21 19:00:00  1.151676  1.152074  1.150880  1.150880       0
2025-11-21 20:00:00  1.152074  1.152074  1.151278  1.151676       0
2025-11-21 21:00:00  1.151676  1.152472  1.151676  1.152074       0
2025-11-21 22:00:00  1.151941  1.151941  1.151941  1.151941       0

[8651 rows x 5 columns]

In [4]:
df.to_csv('data/365d-1H.csv')